<div class="cointainer-fluid">
  <div class="row">

    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Search</span>
        </h6>

        <div class="nav-item">
          <input #searchBox id="search-box" (input)="search(searchBox.value)" />
        </div>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Categories</span>
        </h6>

        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let category of categories$ | async">
            <a class="nav-link" href="#">{{ category.label }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <div class="btn-toolbar mb-2 mb-md-0">
          <h2>Recipes</h2>
        </div>

      </div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <ul class="row">
          <li class="recipe-card card" *ngFor="let recipe of recipes$ | async">
            <a routerLink="/recipes/{{ recipe.id }}" class="recipe">{{recipe.label | uppercase}}</a>
            <img class="recipe-image" src="{{ recipe.image }}" />
          </li>
        </ul>
      </div>
    </main>
  </div>
</div>
