<div class="container-fluid">
  <div class="row">

    <nav id="recipes-sidebar" class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading px-3 mt-1 mb-1 text-muted">
          Search
        </h6>

        <div class="nav-item px-3 text-muted">
          <form (submit)="search(searchBox.value)">
            <input #searchBox id="search-box" (input)="search(searchBox.value)" />
          </form>
        </div>

        <h6 class="sidebar-heading px-3 mt-1 pt-3 mb-1 text-muted">
          Categories
        </h6>

        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let category of categories$ | async">

            <a class="nav-link active-category" *ngIf="category.label === activeCategory" (click)="removeFilter()"
              routerLink="/recipes/">
              {{ category.label }}
            </a>

            <a class="nav-link" *ngIf="category.label !== activeCategory" (click)="filter(category.label)" routerLink="/recipes/"
              [queryParams]="{category: category.label}">
              {{ category.label }}
            </a>

          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 col-lg-10 px-4">
      <h2 id="recipes" class="mb-2 mb-md-0 pt-3 pb-2 mb-3 border-bottom">
        Recipes
      </h2>

      <ul class="d-flex flex-wrap align-items-center pt-3">
        <li class="recipe recipe-3" *ngFor="let recipe of recipes$ | async">
          <div>
            <a routerLink="/recipes/{{ recipe.id }}" class="recipe-title">{{ recipe.label }}</a>
            <button *ngIf="hasToken && !isFavorite(recipe)" (click)="addFavorite(recipe)" class="no-heart float-right"></button>
            <button *ngIf="hasToken && isFavorite(recipe)" (click)="deleteFavorite(recipe)" class="heart float-right"></button>
          </div>

          <a class="recipe-img" routerLink="/recipes/{{ recipe.id }}">
            <img src="{{ recipe.image }}" />
          </a>
        </li>
      </ul>
    </main>
  </div>
</div>
