<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">

      <h2 class="mb-2 mb-md-0 pt-3 pb-2 mb-3 border-bottom">
        Favorites
      </h2>

      <ul class="d-flex flex-wrap align-items-center pt-3">
        <li class="recipe recipe-4" *ngFor="let favorite of favorites">
          <div class="d-flex flex-nowrap flex-row justify-content-between">
            <a routerLink="/recipes/{{ favorite.recipe_id }}" class="recipe-title">{{ favorite.recipe_label }}</a>
            <div class="d-flex flex-nowrap flex-row justify-content-end">
              <div class="fa-pencil my-auto" (click)="editFavorite(favorite)">
              </div>
              <div class="fa-close my-auto" (click)="deleteFavorite(favorite)">
              </div>
            </div>
          </div>

          <a routerLink="/recipes/{{ favorite.recipe_id }}" class="recipe-img">
            <img src="{{ favorite.recipe_image }}" />
          </a>
        </li>
      </ul>
    </main>
  </div>
</div>
