body {
  font-size: .875rem;
}

/* You can add global styles to this file, and also import other style files */

.active-category {
  color: red !important;
}

.card {
  float: left;
  width: 30%;
  padding: .75rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 0;
  height: 340px;
}

.card>img {
  margin-bottom: .75rem;
  height: 270px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.recipe-title {
  display: block;
  float: left;
  line-height: 40px;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 40px);
}

.no-heart {
  display: block;
  margin: 4px;
  width: 32px;
  height: 32px;
  background: url('/assets/like_2.png') no-repeat;
  background-position: center;
  border: 0;
  opacity: 0.6;
}

.heart {
  margin: 4px;
  display: block;
  width: 32px;
  height: 32px;
  background: url('/assets/like_3.png') no-repeat;
  background-position: center;
  border: 0;
  opacity: 0.8;
}

.heart:hover {
  opacity: 1;
}

.no-heart:hover {
  opacity: 1;
}
