/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: .875rem;
  overflow-x: hidden;
}

.fa-pencil {
  display: block;
  height: 32px;
  width: 32px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAPFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADQLyYwAAAAE3RSTlMAAQIEBxA0UFGRmsDBw8XHztX7RYqz/gAAAH1JREFUKM+lkcsOgzAMBJcY2vCoS5n//9ceUFBC3FN9nFG8Vla6TcrPpGBsA7eAvyA0M0TGzPw07ybH3C+TGw6XyQ33RzGeGj6VN1V44eBmc8TbW2se7/mb7z/48dl7LmcZ14ALBtkafDZIp7mVACCNR1cOgIalrzPKrUTPvzUGD31NMUelAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.8;
}

.fa-close {
  display: block;
  height: 32px;
  width: 32px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAgVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABtFS1lAAAAKnRSTlMAAQMFBgcJDEdLWFlbXF1odXeFiIuRkpSVl5itr7m6vsfIytXX4ubo6f1TzZtTAAAAr0lEQVQoz22Q1xaCQAxEZ6mKBStiwS7q/P8H+rAlAdmn5N6zJ5kAQPleGoQ3areRrVYkD8EUJJvIc3JvhFtTksoUrjsCH1eyNsLJBAuKEX4GTB26R6iuMTrGv1sMDBnH/0zgPXMXDhiZ+80Ux0T9qM0w12ba28qb2V8Oa+Yyt2PGsmcmW2+AVu2v8iSodC6z8/cEoqaT15pXDmfkDpXnQHTiRd1nzWfu61SfB6kBgB9Z7jbscyDPiwAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.8;
}

.fa-close:hover,
.fa-pencil:hover {
  opacity: 1;
}

/* You can add global styles to this file, and also import other style files */

.active-category {
  color: red !important;
}

.recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  padding: .75rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  min-width: 340px;
  height: 365px;
}

.recipe-3 {
  width: calc(33% - 1rem);
}

.recipe-4 {
  width: calc(25% - 1rem);
}

.recipe-img {
  height: 300px;
}

.recipe-img img {
  height: 100%;
  width: 100%;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@supports (((position: -webkit-sticky) or (position: sticky)) and (min-width: 700px)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.recipe-title {
  display: block;
  float: left;
  line-height: 40px;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  width: calc(100% - 40px);
}

.no-heart {
  display: block;
  margin: 4px;
  width: 32px;
  height: 32px;
  background: url('/assets/like_2.png') no-repeat;
  background-position: center;
  border: 0;
  opacity: 0.6;
}

.heart {
  margin: 4px;
  display: block;
  width: 32px;
  height: 32px;
  background: url('/assets/like_3.png') no-repeat;
  background-position: center;
  border: 0;
  opacity: 0.8;
}

.heart:hover,
.no-heart:hover {
  opacity: 1;
}

.instructions li {
  list-style: none;
  position: relative;
  padding-left: 15px;
}

.instructions li:before {
  content: "\2605";
}

@media screen and (max-width: 320px) {

  body {
    font-size: .5rem;
  }

  .sidebar-sticky {
    height: auto;
  }

  .sidebar-heading {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  h2.border-bottom {
    border-bottom: none !important;
  }
}
